<h1>Welcome to the DCFuture Community Blog!</h1>
</br>
<p>Washington, DC is a city full of concurrent, and often conflicting, extremes. Extreme wealth and extreme poverty. Disenfranchisement and tremendous power. Growth and displacement. Trendiness and tradition. But regardless of where in the city we live, every one of the more than half a million of us who live here has another word for the District: home.</p>
<p>Whether our intended stay in the nation’s capital is temporary or permanent, all of us living in DC have a stake in the well-being of the unique city we call home. Yet all too often, the policy-making process fails to adequate reflect the sum of our values, as the voices of everyday DC residents tend to be drowned out by well-heeled professional lobbyists and the business interests they represent.</p>
<p>DCFuture.com is the virtual town square where DC residents can learn about our unique city, think big about its future, plug into the hot and emerging issue and political campaigns of the moment, and even start their own campaigns.</p>
<p>Sign up for your DCFuture blog account today, and fill out your profile. It's free, in every sense of the word.</p>

<h2 class="frontpage-links">
<% if session[:user] %>
  <a href="/profile">Visit Your Profile</a>
<% else %>
  <a href="/sign_up">Sign Up</a>
  <a href="/sign_in">Sign In</a>
<% end %>
</h2>
