<h2 class="title-header"><%= @tag.name %> </h2>

<ul class="users">
<h3>Members with this Interest</h3>
<% @users.each do |user| %>
    <li>
      <h4><%= link_to "#{user.username}", user %></h4>
    </li>
<% end %>
</ul>

<ul class="posts">
<h3>Posts with this Tag</h3>
<% @posts.each do |post| %>
    <li>
      <h4><%= link_to "#{post.title}", post %></h4>
    </li>
<% end %>
</ul>
