/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family:'Georgia', serif;
   margin: 0px;
   width: 100%;
   background: #BF0000;
 }


header {
  color: white;
}

.logo {
  height: 250px;
  width: 270px;
}

.headline {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
  font-size: 8em;
  line-height: normal;
}

main {
  text-align: center;
}

nav {
  display: inline;
  height: 3em;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

nav a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  vertical-align: middle;
  margin: .5em;
  padding: .5em;
  color: #333333;
  font-weight: bold;
  background-color: #ddddff;
}

nav a:hover {
 color: #f6f6f6;
 background-color: #3E0000;
}

.content {
  width: 70%;
  margin: auto;
  background-color: white;
}

h2 {
  font-weight: bold;
  size: 3em;
}

h4 {
  line-height: 0%;
}

.blogsections {
  display: inline;
}

#summary {
  display: block;
  padding: 2em;
  border-bottom-style: groove;
}

input {
   display: block;
   margin: 5px 0 20px 0;
   padding: 9px;
   font-size: 1em;
   width: 400px;
   border: solid 1.5px black;
   background: #EEEEEE;
 }

form {
  margin-top: 2em;
  text-align: left;
  margin-left: 30%;
}

.formbody {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  font-size: .9em;
  width: 400px;
  height: 150px;
  border: solid 1px black;
  background: #EEEEEE;
}

.sectionbuttons {
  display: inline;
}

input[type=submit],
a.delete{
  width: auto;
  padding: 9px 15px;
  background-color: #666666;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}
