/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family:'Georgia', serif;
   margin: 0px;
   width: 100%;
   background: #BF0000;
 }


header {
  color: white;
  display: inline-block;
  position: fixed;
}

.logo {
  height: 250px;
  width: 270px;
}

.headline {
  display: inline-flex;
  vertical-align: text-bottom;
  margin: 0;
  font-size: 8em;
  line-height: normal;
}

.main-nav {
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid black;
}

.main-nav a {
  display: inline;
  height: 3em;
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 2em;
}

.social-icons img {

}

.social-icons a {
  display: inline-flex ;
  margin-bottom: 2em;
  border: 1px solid black;
  height: 3em;
}

.container {
  position: relative;
}

.blog-nav {
  float: left;
  display: inline-block;
  width: 20%;
  position: fixed;
  background: #e6e6e6;
  border: 1px solid black;
  padding: 10px;
  margin-top: 2em;
  margin-left: 10px;
  box-sizing: border-box;
}

.blog-nav a {
  display: flex;
  color: #BF0000;
  font-size: 1.3em;
  text-align: center;
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
}

nav a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  margin: .5em 2em .5em 0;
  padding: .8em;
  color: #333333;
  font-weight: bold;
}

nav a:hover {
 color: #f6f6f6;
 background-color: #5E0000;
}

.clearfix {
  overflow: auto;
}

.content {
  display: inline-block;
  position: ;
  width: 65%;
  margin: 0 10% 0 25%;
  background-color: white;
  color: #5E0000;
  border: 2px solid black;
  box-sizing: border-box;
  min-height: 30em;
  text-align: center;
}

@media screen and (min-width:600px) {
  .blog-nav {
    float: left;
    width: 20%;
  }
  .content {
    margin-left: 25%;
  }
}

@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

h2 {
  font-weight: bold;
  size: 3em;
}

h4 {
  line-height: 0%;
}

.blogsections {
  display: inline;
}

.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

#summary {
  display: block;
  padding: 2em;
  border-bottom-style: groove;
}

input {
   display: block;
   margin: 5px 0 20px 0;
   padding: 9px;
   font-size: 1em;
   width: 400px;
   border: solid 1.5px black;
   background: #EEEEEE;
 }

select {
  display: inline;
  margin: 5px 0 20px 0;
  padding: 9px;
  font-size: 1em;
  width: 200px;
  border: solid 1.5px black;
  background: #EEEEEE;
}

form {
  margin-top: 2em;
  text-align: left;
  margin-left: 5%;
}

.formbody {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  font-size: .9em;
  width: 400px;
  height: 150px;
  border: solid 1px black;
  background: #EEEEEE;
}

.sectionbuttons {
  display: block;
}

input[type=submit],
a.delete{
  width: auto;
  padding: 9px 15px;
  background-color: #666666;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}
