
 /** This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.*/

 *= require_tree .
 *= require_self


/* Global */

 html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

 *, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #BF0000;
  font-family:'Georgia', serif;
  width: 100%;
}

ul {
  list-style: none;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

h2 {
  font-weight: bold;
  size: 3em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}


/* Site Content - Wrapper */

header {
  background: #BF0000;
  border-bottom: 2px solid #660000;
  color: white;
  display: inline-flex;
  position: fixed;
  top:0px;
  left:0px;
  height: 16em;
  width: 100%;
  z-index: 1;
}

.logo-container {
  width: 25%;
}

.logo {
  display: inline;
  height: 16em;
  width: 100%;
}

.headline {
  font-size: 7em;
  font-weight: 900;
  height: 50%;
  margin: 0 auto;
  position: absolute;
  vertical-align: top;
  width: 75%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
 color: #f6f6f6;
 background-color: #5E0000;
}

.main-nav {
  margin: 12em 5em 0 0;
  vertical-align: bottom;
  width: 75%;
}

.main-nav ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75%;
}

.main-nav li {
  flex: 1 1 auto;
}

.main-nav a {
  height: 100%;
  color: #660000;
  background-color: #f6f6f6;
  border: 2px solid #660000;
  box-sizing: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-left: 5%;
  padding: .8em;
}

.blog-nav {
  display: inline-block;
  width: 25%;
  height: auto;
  position: fixed;
  background: #e6e6e6;
  border: 1px solid black;
  margin-top: 1.5em;
  padding: .7em;
  z-index: 1;
}

.blog-nav ul {
  margin-bottom: 2em;
}

.blog-nav a {
  display: flex;
  color: #BF0000;
  font-size: 1.3em;
  margin: 0;
  padding: .8em;
  box-sizing: border-box;
}

.content {
  display: inline-block;
  float: none;
  width: 70%;
  margin: 0 5% 0 0;
  background-color: #f6f6f6;
  color: #5E0000;
  border: 2px solid #660000;
  box-sizing: border-box;
  min-height: 50em;
  text-align: center;
  padding: 3em;
}

@media screen and (min-width:600px) {
  .blog-nav {
    float: left;
    width: 20%;
  }
  .content {
    margin-left: 25%;
  }
}

@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

footer {
  background-color: #600;
  border-top: 5px solid #F6F6F6;
  color: #FFF;
  display: block;
  font-size: 1.5em;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 3em;
  z-index: 1;
}

footer a {
  color: #FFF;
}

/* Site Content - Page Text */

.frontpage-links {
  display: block;
}

.post, .comments, .profile, .posts, .users {
  width: 80%;
  text-align: justify;
  margin: auto;
}

.title-header, .user-header {
  text-align: left;
  width: 80%;
  margin: auto;
}

.each {
  margin: 2em 0 2em 0;
  align-items: center;
}

.postcontent {
  margin-top: 2em;
  border-bottom-style: groove;
}

.blogsections {
  display: inline;
  font-size: 1.5em;
}

.blogsections a {
  margin: 0 2% 3em 2%;
  padding: 10px;
  border: 1px solid #660000;
  text-decoration: none;
  background-color: #BF0000;
  color: #f6f6f6;
  font-weight: 500;
}

.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

#summary {
  display: block;
  font-size: 1.2em;
  border-bottom-style: groove;
  text-align: center;
  margin-bottom: 1.5em;
}

.section {
  margin-top: 1.5em;
}

input {
   display: block;
   margin-bottom: 2em;
   padding: 9px;
   font-size: 1em;
   width: 400px;
   border: solid 1.5px black;
   background: #EEEEEE;
 }

select {
  display: inline;
  margin-bottom: 2em;
  padding: 9px;
  font-size: 1em;
  width: 200px;
  border: solid 1.5px black;
  background: #EEEEEE;
}

form {
  margin-top: 2em;
  text-align: left;
  margin-left: 5%;
}

.form-body, .form-summary {
  margin-bottom: 2em;
}

input[type=submit],
a.delete{
  width: auto;
  padding: 9px 15px;
  background-color: #666666;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

input[type=radio] {
  display: inline;
  width: 20px;
}

.dcvoter label {
  margin-right: 8%;
}

.summary {
  width: 50%;
  margin: auto;
}

.tags {
  margin-bottom: 2em;
}

.profile div, .profile img {
  padding: .5em;
  font-size: 1.3em;
}

.users {
  margin-bottom: 3em;
}

#alert {
  line-height: 1em;
  height: 1em;
  display: block;
  margin-top: 11em;
  color: white;
  margin-left: 25%;
  padding: 0;
}
